.page-produtos {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.page-produtos > a {
  cursor: pointer;
}

.produtos > img {
  border-radius: 10px;
  width: 330px;
  height: 450px;
}
.produtos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
