.app {
  width: 800px;
  margin: auto;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.btn {
  border: none;
  border-radius: 5px;
  font-size: 20px;

  width: 100px;
  padding: 10px;
  margin: 20px 15px 0 0;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #000;
}
.animaLeft {
  transform: translateX(-20px);
  opacity: 0;
  animation: animaLeft 0.3s forwards;
}

@keyframes animaLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}
img {
  max-width: 100%;
}
